# .gitignore
node_modules/
.DS_Store

# Credentials
mern/.env
mern/server/config.env

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars
*.tfvars.json
terraform/.terraform.lock.hcl
terraform/.terraform.tfstate.lock.info
terraform/tfplan
.idea/vcs.xml



